@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
/* WebKit-based browsers */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 5px;
}

/* Mozilla Firefox */
::-moz-scrollbar {
  width: 5px;
}

::-moz-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 5px;
}

/* Microsoft Edge and Internet Explorer */
::-ms-scrollbar {
  width: 5px;
}

::-ms-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 5px;
}
/* carousel */
/* .caro {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  z-index: -10;
}

.caro .carousel {
  display: inline-block;
  align-items: flex-start;
  padding-top: 60px;
  animation: 20s slide infinite linear;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
} */
.marquee-container {
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  display: block;
  align-items: start;
  position: relative; 
  
}
.marquee-content {
  animation: marquee 60s linear infinite;
  display: block; /* Added to make sure content stays in a row */
}
.marquee-content:hover {
  animation-play-state: paused;
}
@keyframes marquee {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
